mixin book(book)
    .row(onclick="window.location.replace('/liste/"+ book.id+"')" id=book.id)
        .col-6
            if book.img
                img.img-rounded.img-thumbnail(src=book.img, alt=book.img_desc)
            else
                img.img-rounded.img-thumbnail(src="/image/no_img.png", alt="kein bild verfügbar")
        .col-6
            p
                strong #{book.title}
                br
                span #{book.author}
            span #{book.small_desc}