extends ../layout

block content
    .row.mt-4
        h1 Ausleihen
        h4 Nutzer
        p
            strong Name:
            span  #{name}
        p
            strong Email:
            span  #{user}
        h4 Buch
        table
            thead
                th
                    td Titel
                    td Autor
                    td Verlag
                    td ISBN
            tbody
                tr
                    td
                    td #{book.title}
                    td #{book.author}
                    td #{book.publisher}
                    td #{book.isbn}
        .row.mt-4
        if can_be_rented
            form(method='post' action='/api/object/lend/'+book._id)
                button.btn.btn-primary(type='submit') Ausleihen
        else
            p.border-2.bg-warning.border-danger.rounded Dieses Werk ist bereits ausgeliehen, da es sich nicht um ein E-Medium handelt, kann es nicht mehrfach zur gleichen Zeit ausgeliehen werden.