extends ../layout

block content
    .row.mt-4

        .col-4
            if book.img
                img.img-rounded.img-fluid(src=book.img, alt=book.img_desc)
            else
                img.img-rounded.img-fluid(src='/image/no_img.png' alt='kein Bild')
        .col-8
            button.btn.btn-secondary.rounded.m-1.p-1(id="back") Zurück
            h1 #{book.title}
            h3 #{book.author}
            p
                strong Typ:
                span  #{book.typ}
            if book.isbn
                p
                    strong ISBN:
                    span  #{book.isbn}
            if book.publisher
                p
                    strong Verlag:
                    span  #{book.publisher}
            .row
                p
                    each keyword in book.keywords
                        spant.text-center.m-1.p-1.rounded.border.border-secondary.bg-secondary-subtle #{keyword}
            form(action='/lend/'+book._id method='get')
                button.btn.btn-primary(type='submit') Ausleihen
            p #{book.blurb}
        script(src='/javascripts/objects.js')