mixin ausgeliehen(books)
    h3 Ausgeliehen
    table.table.table-hover.table-condensed.text-break.text-wrap
        thead
            tr
                th.d-none.d-lg-table-cell Bild
                th Titel
                th Autor
                th.d-none.d-lg-table-cell Verlag
                th.d-none.d-lg-table-cell ISBN
                th Tools
        tbody
            each book in books
                tr
                    td.d-none.d-lg-table-cell
                        if book.img
                            img.img-rounded.img-thumbnail(src=book.img alt=book.img_desc style="height: 20vh")
                        else
                            img.img-rounded.img-thumbnail(src="/image/no_img.png", alt = "kein bild verfügbar" style="height: 20vh")
                    td
                        span.text-wrap #{book.title}
                    td
                        span.text-wrap #{book.author}
                    td.d-none.d-lg-table-cell
                        span #{book.publisher}
                    td.d-none.d-lg-table-cell
                        span #{book.isbn}
                    td
                        //- span #{book.typ}
                        if book.typ === 'E-Paper' || book.typ === 'E-Book'
                            button.btn(class="read" id=book._id) Lesen
                            br
                        else if book.typ === 'E-Video' || book.typ ===  'E-Audio'
                            button.btn(class="read" id=book._id) Abspielen
                            br
                        else
                            p #{book.position}
                        button.btn(class="return" id=book._id) Zurückgeben
    script(src="/javascript/lend.js")