mixin history(books)
    h3.text-wrap Verlauf (Vergangenheit)
    table.table.table-hover.table-condensed
        thead
            tr
                th.d-none.d-lg-block Bild
                th Titel
                th Autor
                th.d-none.d-lg-block Verlag
                th.d-none.d-sm-block ISBN
        tbody
            each book in books
                tr(onclick="window.location.replace('/liste/" + book._id + "')")
                    td.d-none.d-lg-block
                        if book.img
                            img.img-rounded.img-thumbnail(src=book.img alt=book.img_desc style="height: 20vh")
                        else
                            img.img-rounded.img-thumbnail(src="/image/no_img.png", alt = "kein bild verfügbar" style="height: 20vh")
                    td
                        span #{book.title}
                    td
                        span #{book.author}
                    td.d-none.d-lg-block
                        span #{book.publisher}
                    td.d-none.d-sm-block
                        span #{book.isbn}