mixin objects(books)
    h3 Objekt Verwaltung
    .row-cols-5
        .col-1
            form(action="/admin/new" method="get")
                button.btn.btn-primary(type="submit") Hinzufügen
        .col-4
            form(action="/admin" method="get")
                //- todo search function to admin object page
                input(type="text" name="search" placeholder="Search")
                button.btn-primary.btn(type="submit") Suchen
    .row
        table.table.table-hover.table-condensed
            thead
                th
                    td Titel
                    td Autor
                    td Verlag
                    td ISBN
                    td Verwaltung
            tbody
                each book in books
                    tr(id="book_"+book._id)
                        td
                        td
                            span #{book.title}
                        td
                            span #{book.author}
                        td
                            span #{book.publisher}
                        td
                            span #{book.isbn}
                        td
                            button.btn.delete_btn(id=book._id) Löschen
                            form(action="/admin/edit/"+book._id method="get")
                                button.btn(type="submit") Bearbeiten
        script(src="/javascript/objects.js")
