mixin objects(books)
    h3 Objekt Verwaltung
    .row
        .col-md-9.col-sm-12
            .row
                .col-8
                    input#search.form-control(type="text" name="search" placeholder="Search")
                .col-4.d-grid
                    button#search_btn.btn-primary.btn.btn-block Suchen
        .col-md-3.col-sm-12.mt-2.mt-md-0
            form.d-grid(action="/admin/new" method="get")
                button.btn.btn-secondary.btn-block(type="submit") Hinzufügen
    .row
        table.table.table-hover.table-condensed.text-break.text-wrap
            thead
                tr
                    th Titel
                    th Autor
                    th.d-none.d-lg-table-cell Verlag
                    th.d-none.d-md-table-cell ISBN
                    th Verwaltung
            tbody
                each book in books
                    tr(id="book_"+book._id)
                        td
                            span #{book.title}
                        td
                            span #{book.author}
                        td.d-none.d-lg-table-cell
                            span #{book.publisher}
                        td.d-none.d-md-table-cell
                            span #{book.isbn}
                        td
                            button.btn.delete_btn(id=book._id) Löschen
                            form(action="/admin/edit/"+book._id method="get")
                                button.btn(type="submit") Bearbeiten
        script(src="/javascript/objects.js")
